/* ********** BODY *************************** */
body {
 font-family:Arial,sans-serif;
 font-size:12px;
 background-color:#000;
 margin:0px;
 text-align:center;
}

/* ********** HEADING ************************ */
h1, h2 {
  color:#000000;
  margin-bottom:0px;
}

h1 {font-size:18px;margin-top:0px;}
h2 {font-size:16px;clear:left;}

/* ********** IMAGES ************************* */
img {
  border:0px solid #000000;
}

img.favicon {
  padding-right: 8px; 
  vertical-align:middle;
  width:20px;
}

/* ********** LINKS ************************** */
a:link, a:visited, a:active, a:hover {
  text-decoration:underline;
  font-weight:normal;
  color:#0000CC;
}

a:active, a:hover {
  color:#000000;
}

a.menu {
 display:block;
 padding:5px 3px 5px 10px;
 border-top:1px solid #ffffff;
  font:12px Arial;
 text-align:left;
 background-color:rgba(139, 139, 139, 1);
 text-decoration:none;
}

a.menu:active, a.menu:hover {
 background-color:#514f50;
}

a.favorite {
 display:block;
 padding:10px 3px 10px 10px;
 border-top:1px solid white;
 font:12px Arial;
 text-align:left;
 background-color:rgba(27, 70, 144, 0.8);
 text-decoration:none;
}

a.favorite:active, a.favorite:hover {
 background-color:rgba(27, 70, 144, 1);
}

a.menu_img, a.menu_img_top, div.menu_img {
 display:block;
 padding:10px;
 text-align:center;
 text-decoration:none;
 border-top:1px solid #8b8b8b;
 /*height:30px;*/
}

a.menu:link, a.menu:visited, a.favorite:link, a.favorite:visited {
 color:#ffffff;
 text-decoration:none; 
}


/* ********** DIV **************************** */
div {background-color:#FFFFFF;}

/* left navigation bar */
div#left {
  background-color:#dbdbdb;
  width:174px;
  float:left;
}

div#right {
  background-color:#dbdbdb;
  width:174px;
  float:right;
}

/* left navigation bar menu container */
div.leftmenu {
  border-left:1px solid #8b8b8b;
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  width:150px;
  /*margin:20px 10px 20px 20px;*/
  margin:10px 0px 10px 10px;
}

div.validatormenu {
  background-color:#dbdbdb;
	width:110px;
  /*margin:20px 10px 20px 20px;*/
  margin:10px 0px 10px 10px;
}

/* content */
div#content {
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  /*float:right;*/
  float:left;
  padding:10px;
  width:750px;
}

/* Browserweiche IE --> Star-HTML-Hack (s. selfthml) */
/* * html div#content { */
  /* border-left:1px solid #000000; */
  /* float:right; */
  /* padding:10px; */
  /* width:750px; */
/* } */

/* linkt to top */
div.top, div.topdivide {
  display:block;
  padding-bottom:5px;
  clear:left;
  text-align:right;
}

/* linkt to top with horizontal line */
div.topdivide {
  border-bottom:1px solid #000;
}


/* standard link container */
/* width:220px, block items */
.linkcontainer {
  width:220px;
  height:190px;
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

/* Browserweiche IE --> Star-HTML-Hack (s. selfthml) */
/* * html .linkcontainer { */
  /* width:240px; */
  /* height:170px; */
  /* vertical-align:top; */
  /* padding-left:10px; */
  /* padding-right:10px; */
  /* margin-bottom:10px; */
/* } */

.biglinkcontainer {
  width:220px;
  height:230px;
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

.smalllinkcontainer {
  width:220px;
  height:150px;
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

/* Browserweiche IE --> Star-HTML-Hack (s. selfthml) */
/* * html .biglinkcontainer { */
  /* width:240px; */
  /* height:240px; */
  /* vertical-align:top; */
  /* padding-left:10px; */
  /* padding-right:10px; */
  /* margin-bottom:10px; */
/* } */

.biggerlinkcontainer {
  width:220px;
  height:250px;
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

/* Browserweiche IE --> Star-HTML-Hack (s. selfthml) */
/* * html .biggerlinkcontainer { */
  /* width:240px; */
  /* height:250px; */
  /* vertical-align:top; */
  /* padding-left:10px; */
  /* padding-right:10px; */
  /* margin-bottom:10px; */
/* } */

.linktitle {
  font-weight:bold;
  text-align:left;
  margin-top:20px;
  margin-bottom:10px;
}

.linkitem {
  display:block;
  margin:0px;
  padding:1px;
  text-align:left;
}

.menutitle {
  border-top:1px solid #8b8b8b;
  background-color:#000;
  color:#ffffff;  
  display:block;
  margin:0px;
  padding:2px 5px;
  font-weight:bold;
  text-align:center;
}

.validator {
  background-color:#dbdbdb;	
  display:block;	
  margin:0px;
/*  padding:2px 5px;*/
	
}

/* large link container */
/* width:660px, inline items */
.largelinkcontainer {
  width:660px;
  height:60px;
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  
}

.largelinktitle {
  font-weight:bold;
  text-align:left;
  margin-top:5px;
  margin-bottom:10px;
}

.largelinkitem {
  display:inline;
  margin:0px;
  padding:1px 3px;
  text-align:left;
}
