/* ********** BODY *************************** */
body {
 font-family:Arial,sans-serif;
 font-size:12px;
 background-color:#000;
 margin:0px;
 text-align:center;
}

/* ********** HEADING ************************ */
h1, h2 {
  color:#000000;
  margin-bottom:0px;
}

h1 {font-size:18px;margin-top:0px;}
h2 {font-size:16px;clear:left;}

/* ********** IMAGES ************************* */
img {
  border:0px solid #000000;
}

img.favicon {
  padding-right: 8px; 
  vertical-align:middle;
  width:20px;
}

/* ********** LINKS ************************** */
a:link, a:visited, a:active, a:hover {
  text-decoration:underline;
  font-weight:normal;
  color:#0000CC;
}

a:active, a:hover {
  color:#000000;
}

a.menu {
 display:block;
 padding:5px 3px 5px 10px;
 border-top:1px solid #ffffff;
 font:12px Arial;
 text-align:left;
 background-color:rgba(139, 139, 139, 1);
 text-decoration:none;
}

a.menu:active, a.menu:hover {
 background-color:#514f50;
}

a.favorite {
 display:block;
 padding:10px 3px 10px 10px;
 border-top:1px solid white;
 font:12px Arial;
 text-align:left;
 background-color:rgba(27, 70, 144, 0.8);
 text-decoration:none;
}

a.favorite:active, a.favorite:hover {
 background-color:rgba(27, 70, 144, 1);
}

a.menu_img, a.menu_img_top, div.menu_img {
 display:block;
 padding:10px;
 text-align:center;
 text-decoration:none;
 border-top:1px solid #8b8b8b;
}

a.menu:link, a.menu:visited, a.favorite:link, a.favorite:visited {
 color:#ffffff;
 text-decoration:none; 
}


/* ********** DIV **************************** */
div {background-color:#FFFFFF;}

/* responsive layout */
div#responsive {
  width: 100%;
  max-width: 1120px;
  margin:0px auto;
  text-align:left;
  background-color:#dbdbdb;  
  
  display:grid;
  grid-template-columns: 174px auto 174px;
  place-content: end space-between;
}

/* left column */
div#left {
  background-color:#dbdbdb;
  /* width: 100%; */
  /* max-width: 174px; */
  /* float:left; */
}

/* right column */
div#right {
  background-color:#dbdbdb;
  /* width: 100%; */
  /* max-width: 174px; */
  /* float:right; */

}
/* content */
div#content {
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  padding:10px;
  /* width: 100%; */
  /* max-width: 700px; */
}

div.grid-container {
  display:grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* justify-content:start space-evenly; */
  /* grid-template-rows: auto auto; */
  align-content: space-evenly;
  gap:50px;
}

/* left navigation bar menu container */
div.leftmenu {
  border-left:1px solid #8b8b8b;
  border-right:2px solid #000;
  border-bottom:2px solid #000;
  width: 100%;
  max-width: 150px;  
  /*margin:20px 10px 20px 20px;*/
  margin:10px 0px 10px 10px;
}

/* link to top */
div.top, div.topdivide {
  /* display:block; */
  padding-bottom:5px;
  padding-right:5px;
  clear:left;
  text-align:right;
}

/* linkt to top with horizontal line */
div.topdivide {
  border-bottom:1px solid #000;
}

/* standard link container */
.linkcontainer {
  /* width: 100%; */
  /* max-width: 220px; */
  /* height:190px; */
  vertical-align:top;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:10px;
}

.linktitle {
  font-weight:bold;
  text-align:left;
  margin-top:20px;
  margin-bottom:10px;
}

.linkitem {
  display:block;
  margin:0px;
  padding:1px;
  text-align:left;
}

.menutitle {
  border-top:1px solid #8b8b8b;
  background-color:#000;
  color:#ffffff;  
  display:block;
  margin:0px;
  padding:2px 5px;
  font-weight:bold;
  text-align:center;
}


/* ********** MEDIA QUERY ************************** */

@media (max-width: 1024px) {
 
}

@media (max-width: 820px) {
 body, h1, h2 {
 font-size:100%;
 }
 a.menu, a.favorite {
 font-size:12px;
 }
 .linkitem {
  padding-bottom:5px;
 }
}

/* iphone 13 max pro */
/* @media only screen and (min-width: 428px) { */
/* @media only screen and (min-height: 926px) and (orientation: portrait) { */
@media only screen 
      and (device-width: 428px) 
      and (device-height: 926px) 
      and (-webkit-device-pixel-ratio: 3) {
} a.menu, a.favorite {
 font-size:100%;
 }

 div#responsive {
  grid-template-columns: auto auto auto;
  justify-content:center;
 }

 div#left, div#right {
  margin:0px;
  padding:0px;
 }
 
 div#content {	
  font-size:100%;
  grid-area: 2 / 1 / 2 / span 2;
  margin-left:10px;
  margin-right:10px;
 }

 .linkitem {
  padding-bottom:10px;
 }

 div.grid-container {
  grid-template-columns: 1fr;
 } 
}

/* iphone 15 */
/* @media only screen and (min-width: 393px) { */
/* @media only screen and (min-height: 852px) and (orientation: portrait) { */
@media only screen 
      and (device-width: 393px) 
      and (device-height: 852px) 
      and (-webkit-device-pixel-ratio: 3) { 
 a.menu, a.favorite {
 font-size:100%;
 }

 div#responsive {
  grid-template-columns: auto auto auto;
  /* place-content: end  ; */
  justify-content:center;
 }

 div#left, div#right {
  margin:0px;
  padding:0px;
 } 
 
 div#content {	
  font-size:100%;
  grid-area: 2 / 1 / 2 / span 2;
  margin-left:10px;
  margin-right:10px;
 }

 .linkitem {
  padding-bottom:10px;
 }

 div.grid-container {
  grid-template-columns: 1fr;
 }	
}